/* Scale */
.scl-2x2 {transform: scale(2,2);}
.scl-3x4 {transform: scale(3,3);}
.scl-4x4 {transform: scale(4,4);}

/* Transform Rotation */
.trfm-n {transform: none;}
.trfm-5d {transform: rotate(5deg);}  
.trfm-10d {transform: rotate(10deg);}  
.trfm-15d {transform: rotate(15deg);}  
.trfm-20d {transform: rotate(20deg);}  
.trfm-25d {transform: rotate(25deg);}  
.trfm-30d {transform: rotate(30deg);}  
.trfm-35d {transform: rotate(35deg);}  
.trfm-40d {transform: rotate(40deg);}  
.trfm-45d {transform: rotate(45deg);}  
.trfm-50d {transform: rotate(50deg);}  
.trfm-55d {transform: rotate(55deg);}  
.trfm-60d {transform: rotate(60deg);}  
.trfm-65d {transform: rotate(65deg);}  
.trfm-70d {transform: rotate(70deg);}  
.trfm-75d {transform: rotate(75deg);}  
.trfm-80d {transform: rotate(80deg);}  
.trfm-85d {transform: rotate(85deg);}  
.trfm-90d {transform: rotate(90deg);}  
.trfm-95d {transform: rotate(95deg);}  
.trfm-100d {transform: rotate(100deg);}  
.trfm-105d {transform: rotate(105deg);}  
.trfm-110d {transform: rotate(110deg);}  
.trfm-115d {transform: rotate(115deg);}  
.trfm-120d {transform: rotate(120deg);}  
.trfm-125d {transform: rotate(125deg);}  
.trfm-130d {transform: rotate(130deg);}  
.trfm-135d {transform: rotate(135deg);}  
.trfm-140d {transform: rotate(140deg);}  
.trfm-145d {transform: rotate(145deg);}  
.trfm-150d {transform: rotate(150deg);}  
.trfm-155d {transform: rotate(155deg);}  
.trfm-160d {transform: rotate(160deg);}  
.trfm-165d {transform: rotate(165deg);}  
.trfm-170d {transform: rotate(170deg);}  
.trfm-175d {transform: rotate(175deg);}  
.trfm-180d {transform: rotate(180deg);}  
.trfm-185d {transform: rotate(185deg);}  
.trfm-190d {transform: rotate(190deg);}  
.trfm-195d {transform: rotate(195deg);}  
.trfm-200d {transform: rotate(200deg);}  
.trfm-205d {transform: rotate(205deg);}  
.trfm-210d {transform: rotate(210deg);}  
.trfm-215d {transform: rotate(215deg);}  
.trfm-220d {transform: rotate(220deg);}  
.trfm-225d {transform: rotate(225deg);}  
.trfm-230d {transform: rotate(230deg);}  
.trfm-235d {transform: rotate(235deg);}  
.trfm-240d {transform: rotate(240deg);}  
.trfm-245d {transform: rotate(245deg);}  
.trfm-250d {transform: rotate(250deg);}  
.trfm-255d {transform: rotate(255deg);}  
.trfm-260d {transform: rotate(260deg);}  
.trfm-265d {transform: rotate(265deg);}  
.trfm-270d {transform: rotate(270deg);}  
.trfm-275d {transform: rotate(275deg);}  
.trfm-280d {transform: rotate(280deg);}  
.trfm-285d {transform: rotate(285deg);}  
.trfm-290d {transform: rotate(290deg);}  
.trfm-295d {transform: rotate(295deg);}  
.trfm-300d {transform: rotate(300deg);}  
.trfm-305d {transform: rotate(305deg);}  
.trfm-310d {transform: rotate(310deg);}  
.trfm-315d {transform: rotate(315deg);}  
.trfm-320d {transform: rotate(320deg);}  
.trfm-325d {transform: rotate(325deg);}  
.trfm-330d {transform: rotate(330deg);}  
.trfm-335d {transform: rotate(335deg);}  
.trfm-340d {transform: rotate(340deg);}  
.trfm-345d {transform: rotate(345deg);}  
.trfm-350d {transform: rotate(350deg);}  
.trfm-355d {transform: rotate(355deg);}  
.trfm-360d {transform: rotate(360deg);}  

.trfm-x-5d {transform: rotateX(5deg);}  
.trfm-x-10d {transform: rotateX(10deg);}  
.trfm-x-15d {transform: rotateX(15deg);}  
.trfm-x-20d {transform: rotateX(20deg);}  
.trfm-x-25d {transform: rotateX(25deg);}  
.trfm-x-30d {transform: rotateX(30deg);}  
.trfm-x-35d {transform: rotateX(35deg);}  
.trfm-x-40d {transform: rotateX(40deg);}  
.trfm-x-45d {transform: rotateX(45deg);}  
.trfm-x-50d {transform: rotateX(50deg);}  
.trfm-x-55d {transform: rotateX(55deg);}  
.trfm-x-60d {transform: rotateX(60deg);}  
.trfm-x-65d {transform: rotateX(65deg);}  
.trfm-x-70d {transform: rotateX(70deg);}  
.trfm-x-75d {transform: rotateX(75deg);}  
.trfm-x-80d {transform: rotateX(80deg);}  
.trfm-x-85d {transform: rotateX(85deg);}  
.trfm-x-90d {transform: rotateX(90deg);}  
.trfm-x-95d {transform: rotateX(95deg);}  
.trfm-x-100d {transform: rotateX(100deg);}  
.trfm-x-105d {transform: rotateX(105deg);}  
.trfm-x-110d {transform: rotateX(110deg);}  
.trfm-x-115d {transform: rotateX(115deg);}  
.trfm-x-120d {transform: rotateX(120deg);}  
.trfm-x-125d {transform: rotateX(125deg);}  
.trfm-x-130d {transform: rotateX(130deg);}  
.trfm-x-135d {transform: rotateX(135deg);}  
.trfm-x-140d {transform: rotateX(140deg);}  
.trfm-x-145d {transform: rotateX(145deg);}  
.trfm-x-150d {transform: rotateX(150deg);}  
.trfm-x-155d {transform: rotateX(155deg);}  
.trfm-x-160d {transform: rotateX(160deg);}  
.trfm-x-165d {transform: rotateX(165deg);}  
.trfm-x-170d {transform: rotateX(170deg);}  
.trfm-x-175d {transform: rotateX(175deg);}  
.trfm-x-180d {transform: rotateX(180deg);}  
.trfm-x-185d {transform: rotateX(185deg);}  
.trfm-x-190d {transform: rotateX(190deg);}  
.trfm-x-195d {transform: rotateX(195deg);}  
.trfm-x-200d {transform: rotateX(200deg);}  
.trfm-x-205d {transform: rotateX(205deg);}  
.trfm-x-210d {transform: rotateX(210deg);}  
.trfm-x-215d {transform: rotateX(215deg);}  
.trfm-x-220d {transform: rotateX(220deg);}  
.trfm-x-225d {transform: rotateX(225deg);}  
.trfm-x-230d {transform: rotateX(230deg);}  
.trfm-x-235d {transform: rotateX(235deg);}  
.trfm-x-240d {transform: rotateX(240deg);}  
.trfm-x-245d {transform: rotateX(245deg);}  
.trfm-x-250d {transform: rotateX(250deg);}  
.trfm-x-255d {transform: rotateX(255deg);}  
.trfm-x-260d {transform: rotateX(260deg);}  
.trfm-x-265d {transform: rotateX(265deg);}  
.trfm-x-270d {transform: rotateX(270deg);}  
.trfm-x-275d {transform: rotateX(275deg);}  
.trfm-x-280d {transform: rotateX(280deg);}  
.trfm-x-285d {transform: rotateX(285deg);}  
.trfm-x-290d {transform: rotateX(290deg);}  
.trfm-x-295d {transform: rotateX(295deg);}  
.trfm-x-300d {transform: rotateX(300deg);}  
.trfm-x-305d {transform: rotateX(305deg);}  
.trfm-x-310d {transform: rotateX(310deg);}  
.trfm-x-315d {transform: rotateX(315deg);}  
.trfm-x-320d {transform: rotateX(320deg);}  
.trfm-x-325d {transform: rotateX(325deg);}  
.trfm-x-330d {transform: rotateX(330deg);}  
.trfm-x-335d {transform: rotateX(335deg);}  
.trfm-x-340d {transform: rotateX(340deg);}  
.trfm-x-345d {transform: rotateX(345deg);}  
.trfm-x-350d {transform: rotateX(350deg);}  
.trfm-x-355d {transform: rotateX(355deg);}  
.trfm-x-360d {transform: rotateX(360deg);} 

.trfm-y-5d {transform: rotateY(5deg);}  
.trfm-y-10d {transform: rotateY(10deg);}  
.trfm-y-15d {transform: rotateY(15deg);}  
.trfm-y-20d {transform: rotateY(20deg);}  
.trfm-y-25d {transform: rotateY(25deg);}  
.trfm-y-30d {transform: rotateY(30deg);}  
.trfm-y-35d {transform: rotateY(35deg);}  
.trfm-y-40d {transform: rotateY(40deg);}  
.trfm-y-45d {transform: rotateY(45deg);}  
.trfm-y-50d {transform: rotateY(50deg);}  
.trfm-y-55d {transform: rotateY(55deg);}  
.trfm-y-60d {transform: rotateY(60deg);}  
.trfm-y-65d {transform: rotateY(65deg);}  
.trfm-y-70d {transform: rotateY(70deg);}  
.trfm-y-75d {transform: rotateY(75deg);}  
.trfm-y-80d {transform: rotateY(80deg);}  
.trfm-y-85d {transform: rotateY(85deg);}  
.trfm-y-90d {transform: rotateY(90deg);}  
.trfm-y-95d {transform: rotateY(95deg);}  
.trfm-y-100d {transform: rotateY(100deg);}  
.trfm-y-105d {transform: rotateY(105deg);}  
.trfm-y-110d {transform: rotateY(110deg);}  
.trfm-y-115d {transform: rotateY(115deg);}  
.trfm-y-120d {transform: rotateY(120deg);}  
.trfm-y-125d {transform: rotateY(125deg);}  
.trfm-y-130d {transform: rotateY(130deg);}  
.trfm-y-135d {transform: rotateY(135deg);}  
.trfm-y-140d {transform: rotateY(140deg);}  
.trfm-y-145d {transform: rotateY(145deg);}  
.trfm-y-150d {transform: rotateY(150deg);}  
.trfm-y-155d {transform: rotateY(155deg);}  
.trfm-y-160d {transform: rotateY(160deg);}  
.trfm-y-165d {transform: rotateY(165deg);}  
.trfm-y-170d {transform: rotateY(170deg);}  
.trfm-y-175d {transform: rotateY(175deg);}  
.trfm-y-180d {transform: rotateY(180deg);}  
.trfm-y-185d {transform: rotateY(185deg);}  
.trfm-y-190d {transform: rotateY(190deg);}  
.trfm-y-195d {transform: rotateY(195deg);}  
.trfm-y-200d {transform: rotateY(200deg);}  
.trfm-y-205d {transform: rotateY(205deg);}  
.trfm-y-210d {transform: rotateY(210deg);}  
.trfm-y-215d {transform: rotateY(215deg);}  
.trfm-y-220d {transform: rotateY(220deg);}  
.trfm-y-225d {transform: rotateY(225deg);}  
.trfm-y-230d {transform: rotateY(230deg);}  
.trfm-y-235d {transform: rotateY(235deg);}  
.trfm-y-240d {transform: rotateY(240deg);}  
.trfm-y-245d {transform: rotateY(245deg);}  
.trfm-y-250d {transform: rotateY(250deg);}  
.trfm-y-255d {transform: rotateY(255deg);}  
.trfm-y-260d {transform: rotateY(260deg);}  
.trfm-y-265d {transform: rotateY(265deg);}  
.trfm-y-270d {transform: rotateY(270deg);}  
.trfm-y-275d {transform: rotateY(275deg);}  
.trfm-y-280d {transform: rotateY(280deg);}  
.trfm-y-285d {transform: rotateY(285deg);}  
.trfm-y-290d {transform: rotateY(290deg);}  
.trfm-y-295d {transform: rotateY(295deg);}  
.trfm-y-300d {transform: rotateY(300deg);}  
.trfm-y-305d {transform: rotateY(305deg);}  
.trfm-y-310d {transform: rotateY(310deg);}  
.trfm-y-315d {transform: rotateY(315deg);}  
.trfm-y-320d {transform: rotateY(320deg);}  
.trfm-y-325d {transform: rotateY(325deg);}  
.trfm-y-330d {transform: rotateY(330deg);}  
.trfm-y-335d {transform: rotateY(335deg);}  
.trfm-y-340d {transform: rotateY(340deg);}  
.trfm-y-345d {transform: rotateY(345deg);}  
.trfm-y-350d {transform: rotateY(350deg);}  
.trfm-y-355d {transform: rotateY(355deg);}  
.trfm-y-360d {transform: rotateY(360deg);}

.trfm-skw-x-5d {transform: skewX(5deg);}  
.trfm-skw-x-10d {transform: skewX(10deg);}  
.trfm-skw-x-15d {transform: skewX(15deg);}  
.trfm-skw-x-20d {transform: skewX(20deg);}  
.trfm-skw-x-25d {transform: skewX(25deg);}  
.trfm-skw-x-30d {transform: skewX(30deg);}  
.trfm-skw-x-35d {transform: skewX(35deg);}  
.trfm-skw-x-40d {transform: skewX(40deg);}  
.trfm-skw-x-45d {transform: skewX(45deg);}  
.trfm-skw-x-50d {transform: skewX(50deg);}  
.trfm-skw-x-55d {transform: skewX(55deg);}  
.trfm-skw-x-60d {transform: skewX(60deg);}  
.trfm-skw-x-65d {transform: skewX(65deg);}  
.trfm-skw-x-70d {transform: skewX(70deg);}  
.trfm-skw-x-75d {transform: skewX(75deg);}  
.trfm-skw-x-80d {transform: skewX(80deg);}  
.trfm-skw-x-85d {transform: skewX(85deg);}  
.trfm-skw-x-90d {transform: skewX(90deg);}  
.trfm-skw-x-95d {transform: skewX(95deg);}  
.trfm-skw-x-100d {transform: skewX(100deg);}  
.trfm-skw-x-105d {transform: skewX(105deg);}  
.trfm-skw-x-110d {transform: skewX(110deg);}  
.trfm-skw-x-115d {transform: skewX(115deg);}  
.trfm-skw-x-120d {transform: skewX(120deg);}  
.trfm-skw-x-125d {transform: skewX(125deg);}  
.trfm-skw-x-130d {transform: skewX(130deg);}  
.trfm-skw-x-135d {transform: skewX(135deg);}  
.trfm-skw-x-140d {transform: skewX(140deg);}  
.trfm-skw-x-145d {transform: skewX(145deg);}  
.trfm-skw-x-150d {transform: skewX(150deg);}  
.trfm-skw-x-155d {transform: skewX(155deg);}  
.trfm-skw-x-160d {transform: skewX(160deg);}  
.trfm-skw-x-165d {transform: skewX(165deg);}  
.trfm-skw-x-170d {transform: skewX(170deg);}  
.trfm-skw-x-175d {transform: skewX(175deg);}  
.trfm-skw-x-180d {transform: skewX(180deg);}  
.trfm-skw-x-185d {transform: skewX(185deg);}  
.trfm-skw-x-190d {transform: skewX(190deg);}  
.trfm-skw-x-195d {transform: skewX(195deg);}  
.trfm-skw-x-200d {transform: skewX(200deg);}  
.trfm-skw-x-205d {transform: skewX(205deg);}  
.trfm-skw-x-210d {transform: skewX(210deg);}  
.trfm-skw-x-215d {transform: skewX(215deg);}  
.trfm-skw-x-220d {transform: skewX(220deg);}  
.trfm-skw-x-225d {transform: skewX(225deg);}  
.trfm-skw-x-230d {transform: skewX(230deg);}  
.trfm-skw-x-235d {transform: skewX(235deg);}  
.trfm-skw-x-240d {transform: skewX(240deg);}  
.trfm-skw-x-245d {transform: skewX(245deg);}  
.trfm-skw-x-250d {transform: skewX(250deg);}  
.trfm-skw-x-255d {transform: skewX(255deg);}  
.trfm-skw-x-260d {transform: skewX(260deg);}  
.trfm-skw-x-265d {transform: skewX(265deg);}  
.trfm-skw-x-270d {transform: skewX(270deg);}  
.trfm-skw-x-275d {transform: skewX(275deg);}  
.trfm-skw-x-280d {transform: skewX(280deg);}  
.trfm-skw-x-285d {transform: skewX(285deg);}  
.trfm-skw-x-290d {transform: skewX(290deg);}  
.trfm-skw-x-295d {transform: skewX(295deg);}  
.trfm-skw-x-300d {transform: skewX(300deg);}  
.trfm-skw-x-305d {transform: skewX(305deg);}  
.trfm-skw-x-310d {transform: skewX(310deg);}  
.trfm-skw-x-315d {transform: skewX(315deg);}  
.trfm-skw-x-320d {transform: skewX(320deg);}  
.trfm-skw-x-325d {transform: skewX(325deg);}  
.trfm-skw-x-330d {transform: skewX(330deg);}  
.trfm-skw-x-335d {transform: skewX(335deg);}  
.trfm-skw-x-340d {transform: skewX(340deg);}  
.trfm-skw-x-345d {transform: skewX(345deg);}  
.trfm-skw-x-350d {transform: skewX(350deg);}  
.trfm-skw-x-355d {transform: skewX(355deg);}  
.trfm-skw-x-360d {transform: skewX(360deg);}

.trfm-skw-y-5d {transform: skewY(5deg);}  
.trfm-skw-y-10d {transform: skewY(10deg);}  
.trfm-skw-y-15d {transform: skewY(15deg);}  
.trfm-skw-y-20d {transform: skewY(20deg);}  
.trfm-skw-y-25d {transform: skewY(25deg);}  
.trfm-skw-y-30d {transform: skewY(30deg);}  
.trfm-skw-y-35d {transform: skewY(35deg);}  
.trfm-skw-y-40d {transform: skewY(40deg);}  
.trfm-skw-y-45d {transform: skewY(45deg);}  
.trfm-skw-y-50d {transform: skewY(50deg);}  
.trfm-skw-y-55d {transform: skewY(55deg);}  
.trfm-skw-y-60d {transform: skewY(60deg);}  
.trfm-skw-y-65d {transform: skewY(65deg);}  
.trfm-skw-y-70d {transform: skewY(70deg);}  
.trfm-skw-y-75d {transform: skewY(75deg);}  
.trfm-skw-y-80d {transform: skewY(80deg);}  
.trfm-skw-y-85d {transform: skewY(85deg);}  
.trfm-skw-y-90d {transform: skewY(90deg);}  
.trfm-skw-y-95d {transform: skewY(95deg);}  
.trfm-skw-y-100d {transform: skewY(100deg);}  
.trfm-skw-y-105d {transform: skewY(105deg);}  
.trfm-skw-y-110d {transform: skewY(110deg);}  
.trfm-skw-y-115d {transform: skewY(115deg);}  
.trfm-skw-y-120d {transform: skewY(120deg);}  
.trfm-skw-y-125d {transform: skewY(125deg);}  
.trfm-skw-y-130d {transform: skewY(130deg);}  
.trfm-skw-y-135d {transform: skewY(135deg);}  
.trfm-skw-y-140d {transform: skewY(140deg);}  
.trfm-skw-y-145d {transform: skewY(145deg);}  
.trfm-skw-y-150d {transform: skewY(150deg);}  
.trfm-skw-y-155d {transform: skewY(155deg);}  
.trfm-skw-y-160d {transform: skewY(160deg);}  
.trfm-skw-y-165d {transform: skewY(165deg);}  
.trfm-skw-y-170d {transform: skewY(170deg);}  
.trfm-skw-y-175d {transform: skewY(175deg);}  
.trfm-skw-y-180d {transform: skewY(180deg);}  
.trfm-skw-y-185d {transform: skewY(185deg);}  
.trfm-skw-y-190d {transform: skewY(190deg);}  
.trfm-skw-y-195d {transform: skewY(195deg);}  
.trfm-skw-y-200d {transform: skewY(200deg);}  
.trfm-skw-y-205d {transform: skewY(205deg);}  
.trfm-skw-y-210d {transform: skewY(210deg);}  
.trfm-skw-y-215d {transform: skewY(215deg);}  
.trfm-skw-y-220d {transform: skewY(220deg);}  
.trfm-skw-y-225d {transform: skewY(225deg);}  
.trfm-skw-y-230d {transform: skewY(230deg);}  
.trfm-skw-y-235d {transform: skewY(235deg);}  
.trfm-skw-y-240d {transform: skewY(240deg);}  
.trfm-skw-y-245d {transform: skewY(245deg);}  
.trfm-skw-y-250d {transform: skewY(250deg);}  
.trfm-skw-y-255d {transform: skewY(255deg);}  
.trfm-skw-y-260d {transform: skewY(260deg);}  
.trfm-skw-y-265d {transform: skewY(265deg);}  
.trfm-skw-y-270d {transform: skewY(270deg);}  
.trfm-skw-y-275d {transform: skewY(275deg);}  
.trfm-skw-y-280d {transform: skewY(280deg);}  
.trfm-skw-y-285d {transform: skewY(285deg);}  
.trfm-skw-y-290d {transform: skewY(290deg);}  
.trfm-skw-y-295d {transform: skewY(295deg);}  
.trfm-skw-y-300d {transform: skewY(300deg);}  
.trfm-skw-y-305d {transform: skewY(305deg);}  
.trfm-skw-y-310d {transform: skewY(310deg);}  
.trfm-skw-y-315d {transform: skewY(315deg);}  
.trfm-skw-y-320d {transform: skewY(320deg);}  
.trfm-skw-y-325d {transform: skewY(325deg);}  
.trfm-skw-y-330d {transform: skewY(330deg);}  
.trfm-skw-y-335d {transform: skewY(335deg);}  
.trfm-skw-y-340d {transform: skewY(340deg);}  
.trfm-skw-y-345d {transform: skewY(345deg);}  
.trfm-skw-y-350d {transform: skewY(350deg);}  
.trfm-skw-y-355d {transform: skewY(355deg);}  
.trfm-skw-y-360d {transform: skewY(360deg);}

.trfm-trl-x-5 {transform: translateX(5px);}
.trfm-trl-x-10 {transform: translateX(10px);}
.trfm-trl-x-15 {transform: translateX(15px);}
.trfm-trl-x-20 {transform: translateX(20px);}
.trfm-trl-x-25 {transform: translateX(25px);}
.trfm-trl-x-30 {transform: translateX(30px);}
.trfm-trl-x-35 {transform: translateX(35px);}
.trfm-trl-x-40 {transform: translateX(40px);}
.trfm-trl-x-45 {transform: translateX(45px);}
.trfm-trl-x-50 {transform: translateX(50px);}
.trfm-trl-x-55 {transform: translateX(55px);}
.trfm-trl-x-60 {transform: translateX(60px);}
.trfm-trl-x-65 {transform: translateX(65px);}
.trfm-trl-x-70 {transform: translateX(70px);}
.trfm-trl-x-75 {transform: translateX(75px);}
.trfm-trl-x-80 {transform: translateX(80px);}
.trfm-trl-x-85 {transform: translateX(85px);}
.trfm-trl-x-90 {transform: translateX(90px);}
.trfm-trl-x-95 {transform: translateX(95px);}
.trfm-trl-x-100 {transform: translateX(100px);}
.trfm-trl-x-105 {transform: translateX(105px);}
.trfm-trl-x-110 {transform: translateX(110px);}
.trfm-trl-x-115 {transform: translateX(115px);}
.trfm-trl-x-120 {transform: translateX(120px);}
.trfm-trl-x-125 {transform: translateX(125px);}
.trfm-trl-x-130 {transform: translateX(130px);}
.trfm-trl-x-135 {transform: translateX(135px);}
.trfm-trl-x-140 {transform: translateX(140px);}
.trfm-trl-x-145 {transform: translateX(145px);}
.trfm-trl-x-150 {transform: translateX(150px);}
.trfm-trl-x-155 {transform: translateX(155px);}
.trfm-trl-x-160 {transform: translateX(160px);}
.trfm-trl-x-165 {transform: translateX(165px);}
.trfm-trl-x-170 {transform: translateX(170px);}
.trfm-trl-x-175 {transform: translateX(175px);}
.trfm-trl-x-180 {transform: translateX(180px);}
.trfm-trl-x-185 {transform: translateX(185px);}
.trfm-trl-x-190 {transform: translateX(190px);}
.trfm-trl-x-195 {transform: translateX(195px);}
.trfm-trl-x-200 {transform: translateX(200px);}
.trfm-trl-x-205 {transform: translateX(205px);}
.trfm-trl-x-210 {transform: translateX(210px);}
.trfm-trl-x-215 {transform: translateX(215px);}
.trfm-trl-x-220 {transform: translateX(220px);}
.trfm-trl-x-225 {transform: translateX(225px);}
.trfm-trl-x-230 {transform: translateX(230px);}
.trfm-trl-x-235 {transform: translateX(235px);}
.trfm-trl-x-240 {transform: translateX(240px);}
.trfm-trl-x-245 {transform: translateX(245px);}
.trfm-trl-x-250 {transform: translateX(250px);}
.trfm-trl-x-255 {transform: translateX(255px);}
.trfm-trl-x-260 {transform: translateX(260px);}
.trfm-trl-x-265 {transform: translateX(265px);}
.trfm-trl-x-270 {transform: translateX(270px);}
.trfm-trl-x-275 {transform: translateX(275px);}
.trfm-trl-x-280 {transform: translateX(280px);}
.trfm-trl-x-285 {transform: translateX(285px);}
.trfm-trl-x-290 {transform: translateX(290px);}
.trfm-trl-x-295 {transform: translateX(295px);}
.trfm-trl-x-300 {transform: translateX(300px);}
.trfm-trl-x-305 {transform: translateX(305px);}
.trfm-trl-x-310 {transform: translateX(310px);}
.trfm-trl-x-315 {transform: translateX(315px);}
.trfm-trl-x-320 {transform: translateX(320px);}
.trfm-trl-x-325 {transform: translateX(325px);}
.trfm-trl-x-330 {transform: translateX(330px);}
.trfm-trl-x-335 {transform: translateX(335px);}
.trfm-trl-x-340 {transform: translateX(340px);}
.trfm-trl-x-345 {transform: translateX(345px);}
.trfm-trl-x-350 {transform: translateX(350px);}
.trfm-trl-x-355 {transform: translateX(355px);}
.trfm-trl-x-360 {transform: translateX(360px);}
.trfm-trl-x-365 {transform: translateX(365px);}
.trfm-trl-x-370 {transform: translateX(370px);}
.trfm-trl-x-375 {transform: translateX(375px);}
.trfm-trl-x-380 {transform: translateX(380px);}
.trfm-trl-x-385 {transform: translateX(385px);}
.trfm-trl-x-390 {transform: translateX(390px);}
.trfm-trl-x-395 {transform: translateX(395px);}
.trfm-trl-x-400 {transform: translateX(400px);}

.trfm-trl-y-5 {transform: translateY(5px);}
.trfm-trl-y-10 {transform: translateY(10px);}
.trfm-trl-y-15 {transform: translateY(15px);}
.trfm-trl-y-20 {transform: translateY(20px);}
.trfm-trl-y-25 {transform: translateY(25px);}
.trfm-trl-y-30 {transform: translateY(30px);}
.trfm-trl-y-35 {transform: translateY(35px);}
.trfm-trl-y-40 {transform: translateY(40px);}
.trfm-trl-y-45 {transform: translateY(45px);}
.trfm-trl-y-50 {transform: translateY(50px);}
.trfm-trl-y-55 {transform: translateY(55px);}
.trfm-trl-y-60 {transform: translateY(60px);}
.trfm-trl-y-65 {transform: translateY(65px);}
.trfm-trl-y-70 {transform: translateY(70px);}
.trfm-trl-y-75 {transform: translateY(75px);}
.trfm-trl-y-80 {transform: translateY(80px);}
.trfm-trl-y-85 {transform: translateY(85px);}
.trfm-trl-y-90 {transform: translateY(90px);}
.trfm-trl-y-95 {transform: translateY(95px);}
.trfm-trl-y-100 {transform: translateY(100px);}
.trfm-trl-y-105 {transform: translateY(105px);}
.trfm-trl-y-110 {transform: translateY(110px);}
.trfm-trl-y-115 {transform: translateY(115px);}
.trfm-trl-y-120 {transform: translateY(120px);}
.trfm-trl-y-125 {transform: translateY(125px);}
.trfm-trl-y-130 {transform: translateY(130px);}
.trfm-trl-y-135 {transform: translateY(135px);}
.trfm-trl-y-140 {transform: translateY(140px);}
.trfm-trl-y-145 {transform: translateY(145px);}
.trfm-trl-y-150 {transform: translateY(150px);}
.trfm-trl-y-155 {transform: translateY(155px);}
.trfm-trl-y-160 {transform: translateY(160px);}
.trfm-trl-y-165 {transform: translateY(165px);}
.trfm-trl-y-170 {transform: translateY(170px);}
.trfm-trl-y-175 {transform: translateY(175px);}
.trfm-trl-y-180 {transform: translateY(180px);}
.trfm-trl-y-185 {transform: translateY(185px);}
.trfm-trl-y-190 {transform: translateY(190px);}
.trfm-trl-y-195 {transform: translateY(195px);}
.trfm-trl-y-200 {transform: translateY(200px);}
.trfm-trl-y-205 {transform: translateY(205px);}
.trfm-trl-y-210 {transform: translateY(210px);}
.trfm-trl-y-215 {transform: translateY(215px);}
.trfm-trl-y-220 {transform: translateY(220px);}
.trfm-trl-y-225 {transform: translateY(225px);}
.trfm-trl-y-230 {transform: translateY(230px);}
.trfm-trl-y-235 {transform: translateY(235px);}
.trfm-trl-y-240 {transform: translateY(240px);}
.trfm-trl-y-245 {transform: translateY(245px);}
.trfm-trl-y-250 {transform: translateY(250px);}
.trfm-trl-y-255 {transform: translateY(255px);}
.trfm-trl-y-260 {transform: translateY(260px);}
.trfm-trl-y-265 {transform: translateY(265px);}
.trfm-trl-y-270 {transform: translateY(270px);}
.trfm-trl-y-275 {transform: translateY(275px);}
.trfm-trl-y-280 {transform: translateY(280px);}
.trfm-trl-y-285 {transform: translateY(285px);}
.trfm-trl-y-290 {transform: translateY(290px);}
.trfm-trl-y-295 {transform: translateY(295px);}
.trfm-trl-y-300 {transform: translateY(300px);}
.trfm-trl-y-305 {transform: translateY(305px);}
.trfm-trl-y-310 {transform: translateY(310px);}
.trfm-trl-y-315 {transform: translateY(315px);}
.trfm-trl-y-320 {transform: translateY(320px);}
.trfm-trl-y-325 {transform: translateY(325px);}
.trfm-trl-y-330 {transform: translateY(330px);}
.trfm-trl-y-335 {transform: translateY(335px);}
.trfm-trl-y-340 {transform: translateY(340px);}
.trfm-trl-y-345 {transform: translateY(345px);}
.trfm-trl-y-350 {transform: translateY(350px);}
.trfm-trl-y-355 {transform: translateY(355px);}
.trfm-trl-y-360 {transform: translateY(360px);}
.trfm-trl-y-365 {transform: translateY(365px);}
.trfm-trl-y-370 {transform: translateY(370px);}
.trfm-trl-y-375 {transform: translateY(375px);}
.trfm-trl-y-380 {transform: translateY(380px);}
.trfm-trl-y-385 {transform: translateY(385px);}
.trfm-trl-y-390 {transform: translateY(390px);}
.trfm-trl-y-395 {transform: translateY(395px);}
.trfm-trl-y-400 {transform: translateY(400px);}

/* Transform Origin*/
.trfm-orgn-l {transform-origin: left;}
.trfm-orgn-r {transform-origin: right;}
.trfm-orgn-t {transform-origin: top;}
.trfm-orgn-b {transform-origin: bottom;}
.trfm-orgn-c {transform-origin: center;}

.trfm-orgn-ll {transform-origin: left left;}
.trfm-orgn-lr {transform-origin: left right;}
.trfm-orgn-lt {transform-origin: left top;}
.trfm-orgn-lb {transform-origin: left bottom;}
.trfm-orgn-lc {transform-origin: left center;}

.trfm-orgn-rr {transform-origin: right right;}
.trfm-orgn-rl {transform-origin: right left;}
.trfm-orgn-rt {transform-origin: right top;}
.trfm-orgn-rb {transform-origin: right bottom;}
.trfm-orgn-rc {transform-origin: right center;}

.trfm-orgn-tt {transform-origin: top top;}
.trfm-orgn-tl {transform-origin: top left;}
.trfm-orgn-tr {transform-origin: top right;}
.trfm-orgn-tb {transform-origin: top bottom;}
.trfm-orgn-tc {transform-origin: top center;}

.trfm-orgn-bb {transform-origin: bottom bottom;}
.trfm-orgn-bt {transform-origin: bottom top;}
.trfm-orgn-bl {transform-origin: bottom left;}
.trfm-orgn-br {transform-origin: bottom right;}
.trfm-orgn-bc {transform-origin: bottom center;}

.trfm-orgn-cb {transform-origin: center bottom;}
.trfm-orgn-ct {transform-origin: center top;}
.trfm-orgn-cl {transform-origin: center left;}
.trfm-orgn-cr {transform-origin: center right;}
.trfm-orgn-cc {transform-origin: center center;}

/* Z Index */
.z-idx-0 {z-index: 0;}
.z-idx-1 {z-index: 1;}
.z-idx-2 {z-index: 2;}
.z-idx-3 {z-index: 3;}
.z-idx-4 {z-index: 4;}
.z-idx-5 {z-index: 5;}
.z-idx-6 {z-index: 6;}
.z-idx-7 {z-index: 7;}
.z-idx-8 {z-index: 8;}
.z-idx-9 {z-index: 9;}
.z-idx-10 {z-index: 10;}